
@{
    ViewBag.Title = "Index";
}

<h2>Меню администратор</h2>

<ul>
    <li><p>@Html.ActionLink("Курсы", "GetAll", "Course") </p></li>
    <li><p>@Html.ActionLink("Группа", "GetAll", "Group") </p></li>
    <li><p>@Html.ActionLink("Вопросы", "GetAll", "Question") </p></li>
    <li><p>@Html.ActionLink("Тесты", "GetAll", "Test") </p></li>
    <li><p>@Html.ActionLink("Темы", "GetAll", "Theme") </p></li>
    <li><p>@Html.ActionLink("Лекторы", "GetAll", "Lector") </p></li>
    <li><p>@Html.ActionLink("Студенты", "GetAll", "Student") </p></li>
</ul>

