@model FinalProjectMVC.Areas.Admin.Models.Courses.DetailsCourseVm

@{
    ViewBag.Title = "Details";
}

<h2>Детали @Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />

    <h4>Группы</h4>
    <ul>
        @foreach (var item in Model.groupsList)
        {
            <li>@item.Name</li>
        }
    </ul>
    <h4>Лекторы</h4>
    <ul>
        @foreach (var item in Model.lectorsList)
        {
            <li>@item.FirstName  @item.LastName</li>
        }
    </ul>
    <h4>Модули</h4>
    <ul>
        @foreach (var item in Model.modulesList)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "GetAll")
</p>
