@model FinalProject.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <ul>
        <li><h4>@Html.DisplayNameFor(model => model.groupsList)</h4></li>
        @foreach (var item in Model.groupsList)
        {
            <li>@item.Name</li>
        }
        <li><h4>@Html.DisplayNameFor(model => model.teachersList)</h4></li>
        @foreach (var item in Model.teachersList)
        {
            <li>@item.FirstName  @item.LastName</li>
        }
        <li><h4>@Html.DisplayNameFor(model => model.modulesList)</h4></li>
        @foreach (var item in Model.modulesList)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
