@model FinalProjectMVC.Areas.Admin.Models.Groups.DetailsGroupVm

@{
    ViewBag.Title = "Details";
}

<h2>Детали @Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <p><h4>Дата создания:</h4> @Html.DisplayFor(model => model.BeginigDate)</p>
    <p><h4>Курс:</h4> @Html.DisplayFor(model => model.CourseName)</p>


    <h4>Лекторы:</h4>
    <ul>
        @foreach (var item in Model.Teachers)
        {
            <li>@item.FirstName  @item.LastName</li>
        }
    </ul>
    <h4>Студенты:</h4>
    <ul>

        @foreach (var item in Model.Students)
        {
            <li>@item.FirstName  @item.LastName</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернутся к списку", "GetAll")
</p>
