@model FinalProjectMVC.Areas.Admin.Models.Themes.DetailsThemeVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetailsThemeVm</h4>
    <hr />
    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
        @Html.DisplayFor(model => model.Name)
    <h4>@Html.DisplayNameFor(model => model.ModuleName)</h4>
        @Html.DisplayFor(model => model.ModuleName)
        
    <h4>Вопросы:</h4>
    <ul>
        @foreach (var item in Model.Questions)
        {
            <li style="text-decoration:solid">@item.Name</li>
            <li>@item.Text</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "GetAll")
</p>
